@charset "utf-8";

/* webfont */
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select {
    padding: 0;
    margin: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    font-family: 'S-CoreDream-3Light';
    font-size: 22px;
    line-height: 30px;
    color: #fff;
    background-color: #000;
}

#wrap {
    min-width: 1360px;
}



/* division 공통꾸미기 */
.division_top {
    width: 1320px;
    margin: 0 auto;
    height: 40px;
    margin-bottom: 50px;
}

.division_title {
    font-family: 'Nulshock', sans-serif;
    font-size: 30px;
    float: left;
}

.more_btn {
    float: right;
}


/* magazine */

#magazine {
    width: 1320px;
    margin: 0 auto;
    padding: 50px 0;
    height: 810px;
    box-sizing: border-box;
}

.magazine_wrap {
    height: 620px;
}

.mag_box li {
    float: left;
    width: 320px;
    margin-right: 13px;
    position: relative;
    height: 450px;
}

.mag_box li:nth-child(4) {
    margin-right: 0;
}

.down {
    margin-top: 170px;
}

.img_wrap {
    overflow: hidden;
}

.img_wrap img {
    width: 100%;
    display: block;
    transition: transform 0.3s;
}

.mag_box li:hover .img_wrap img {
    transform: scale(1.1);
}

.cover {
    opacity: 0;
    background-color: rgba(212, 69, 129, 0.7);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: opacity 0.3s;
}

.mag_box li:hover .cover {
    opacity: 1;
}

.mag_text {
    text-align: left;
    margin-left: 70px;
    transform: translateY(100px);
    transition: transform 0.5s;
}

.mag_box li:hover .mag_text {
    transform: translateY(0px);
}

.mag_title {
    font-size: 18px;
    margin-top: 170px;
}

.mag_date {
    font-size: 14px;
    margin-top: 20px;
}

.view_btn {
    display: inline-block;
    border: 1px solid #fff;
    font-size: 15px;
    padding: 3px 10px;
    border-radius: 20px;
    margin-top: 50px;
}

.view_btn:hover {
    background-color: #fff;
    color: #d44581;
    font-weight: bold;
}


/* PLAYLIST */
#playlist {
    overflow: hidden;
}

.inner_playlist {
    width: 1320px;
    margin: 0 auto;
    padding: 50px 0;
    height: 650px;
    box-sizing: border-box;
}

.mood {
    width: 1100px;
    height: 180px;
    padding-bottom: 100px;
    position: relative;
}

.genre {
    float: right;
    width: 1100px;
    height: 180px;
    padding-bottom: 50px;
    position: relative;
}

/* playlist swiper */
#banner {
    height: 180px;
    margin: 0 auto;
    position: absolute;
    right: 0px;
    top: 0;
    width: 1400px;
}

.genre #banner {
    left: 0px;
}

.swiper_name {
    font-family: 'Nulshock', sans-serif;
    position: absolute;
    top: 100px;
    right: 25px;
    z-index: 9;
}

.genre .swiper_name {
    left: 22px;
}

.swiper {
    width: 90%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: top;
}

.swiper-slide img {
    display: block;
    width: 180px;
    height: 180px;
    object-fit: cover;
}


/* play_btn 공통꾸미기 */
/* 재생버튼 포지션으로 올려서 호버시 등장 */
.play_btn{
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 8;
    width: 100%;
    height: 100%;
}
.play_btn:hover{
    opacity: 1;
}

/* 개별 */
.m{ 
    position: absolute;
    background: rgba(0, 0, 0, 0.5) url(../images/play_m.png) no-repeat center;
}

.swiper-wrapper .m{
    left: -23px;  
}




/* chart */

#chart {
    width: 1320px;
    margin: 0 auto;
    padding-top: 50px;
    height: 600px;
    box-sizing: border-box;
}

.first_wrap {
    float: left;
    width: 576px;
    height: 460px;
    position: relative;
}

.first {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
    width: 346px;
    height: 460px;
    background-color: #fff;
}

.first img {
    display: block;
    position: absolute;
    bottom: 13px;
    right: 13px;
    z-index: 6;
}

.first_box {
    background-color: rgba(0, 0, 0, 0.7);
    width: 320px;
    height: 110px;
    position: absolute;
    bottom: 13px;
    right: 13px;
    z-index: 9;
}

.rank1 {
    float: left;
    color: #d44581;
    font-family: 'Nulshock', sans-serif;
    font-size: 60px;
    margin-top: 40px;
    margin-left: 20px;
}

.rank1_song {
    float: left;
    line-height: 36px;
    margin-top: 20px;
    margin-left: 30px;
}

.first_box .heart_btn a {
    display: block;
    width: 64px;
    height: 44px;
    float: right;
    margin-top: 32px;
    margin-right: 20px;
    background: url(../images/w_heart_logo.png) no-repeat right center;
}

.heart_btn a:hover {
    background-image: url(../images/w_heart_logo_hover.png);
}

.chart_box {
    float: right;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    width: 666px;
    height: 460px;
    box-sizing: border-box;
}

.chart_box li {
    height: 114px;
    box-sizing: border-box;
    border-bottom: 1px solid #999;
    padding: 15px 20px;
    font-size: 0;
}

.chart_box li:nth-child(4) {
    border: none;
}

.rank {
    width: 25px;
    display: inline-block;
    color: #d44581;
    font-family: 'Nulshock', sans-serif;
    font-size: 32px;
    margin-right: 20px;
    vertical-align: middle;
}

.album_wrap {
    display: inline-block;
    width: 85px;
    height: 85px;
    margin-right: 20px;
    vertical-align: middle;
    position: relative;
}

.chart_song {
    width: 392px;
    height: 85px;
    display: inline-block;
    font-size: 20px;
    line-height: 40px;
    vertical-align: middle;
    margin-right: 20px;
}

.chart_box .heart_btn {
    display: inline-block;
    vertical-align: middle;
    width: 64px;
    height: 44px;
}

.chart_box .heart_btn a {
    display: block;
    width: 64px;
    height: 44px;
    background: url(../images/w_heart_logo.png) no-repeat right center;
}

.chart_box .heart_btn a:hover {
    background-image: url(../images/w_heart_logo_hover.png);
}

/* chart cd_wrap animation */
@keyframes cd{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

.cd_wrap{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 460px;
    height: 460px;
    animation: cd 3s infinite linear;
}

/* play_btn 개별 */
.l{
    position: absolute;
    background: rgba(0, 0, 0, 0.5) url(../images/play_l.png) no-repeat center;
}

.s{
    position: absolute;
    background: rgba(0, 0, 0, 0.5) url(../images/play_s.png) no-repeat center;
}

.chart_box li:hover .s{
    opacity: 1;
}


/* new */

#new {
    width: 1320px;
    margin: 0 auto;
    padding: 150px 0 50px;
    overflow: hidden;
}

.new_link {
    overflow: hidden;
    width: 180px;
    margin: 50px auto;
    text-align: center;
}

.new_link li {
    float: left;
    width: 60px;
}

.new_link li a {
    font-size: 20px;
    padding: 5px;
    margin: 5px;
}

.new_link li a:hover {
    color: #d44581;
}

.on a {
    color: #d44581;
}

.new_wrap {
    position: relative;
    height: 310px;
}

.new_list {
    height: 310px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.new1 {
    z-index: 10;
}

.new_list li {
    float: left;
    margin-right: 13px;
    position: relative;
    width: 209px;
}

.new_list li:nth-child(6) {
    margin: 0;
}

.new_list li img {
    display: block;
}

.new_box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75px;
    z-index: 9;
    box-sizing: border-box;
    padding: 12px 13px;
    background-color: rgba(0, 0, 0, 0.7);
}

.new_song {
    float: left;
    width: 75%;
    font-size: 15px;
    line-height: 25px;
}

.new_song span {
    font-weight: bold;
    font-size: 20px;
}

.heart_btn_s {
    float: right;
    width: 25%;
    height: 100%;
}

.heart_btn_s a {
    display: block;
    height: 100%;
    background: url(../images/w_heart_logo_s.png) no-repeat right center;
}

.heart_btn_s a:hover {
    background-image: url(../images/w_heart_logo_s_hover.png);
}




/* video */
#video {
    padding: 50px 0;
    overflow: hidden;
    height: 600px;
    position: relative;
}

.inner_video {
    width: 1780px;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -890px;
}



/* swiper */
#mv_slide_wrap {
    overflow: hidden;
}

#mv_slide_wrap .swiper-wrapper {
    left: -100px;
}

#mv_slide_wrap #slide {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    padding: 100px 0 190px;
}

#mv_slide_wrap #slide ul li a {
    display: block;
    margin: 5px;
}

#mv_slide_wrap .screen {
    position: relative;
}

#mv_slide_wrap .screen img {
    width: 100%;
    display: block;
}

#mv_slide_wrap .bottom {
    padding: 10px 0;
    position: absolute;
    width: 100%;
    top: 210px;
    left: 0;
    z-index: 2;
    color: #fff;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
}

#mv_slide_wrap .play_btn {
    position: absolute;
    left: 50%;
    top: 0;
    width: 122px;
    height: 82px;
}

#mv_slide_wrap .play_btn img {
    width: 100%;
}

#mv_slide_wrap .swiper-slide-active+.swiper-slide+.swiper-slide .bottom {
    bottom: 0%;
}

#mv_slide_wrap .swiper-slide {
    transform: scale(0.8);
    transition: transform 1s;
    margin-left: 0 !important;
}

#mv_slide_wrap .swiper-slide .bottom {
    opacity: 0;
}

#mv_slide_wrap .swiper-slide-active+.swiper-slide+.swiper-slide {
    transform: scale(1.6);
    padding: 0 100px;
}

#mv_slide_wrap .swiper-slide-active+.swiper-slide+.swiper-slide .bottom {
    opacity: 1;
}


/* #mv_slide_wrap .swiper-slide-duplicate-prev {
    transform: scale(0.8);
} */


#mv_slide_wrap .swiper-button-prev {
    content: url(../images/btn_left_large.png);
    width: 25px;
    height: 47px;
    left: 650px;
    top: 420px;
}

#mv_slide_wrap .swiper-button-next {
    content: url(../images/btn_right_large.png);
    width: 25px;
    height: 47px;
    right: 650px;
    top: 420px;
}



/* festival_banner */

#festival_banner {
    height: 540px;
    background: url(../images/festival_bg.png) center fixed;
}

.inner_festival_banner {
    width: 1320px;
    margin: 0 auto;
}

.festival_logo {
    float: left;
}

.festival_text {
    float: right;
    padding-top: 88px;
}


/* goods_banner */

#goods_banner {
    height: 640px;
    background: url(../images/goods_banner_bg.png) no-repeat center center;
}

.inner_goods_banner {
    width: 1320px;
    height: 640px;
    margin: 0 auto;
    position: relative;
}

.goods1 img {
    position: absolute;
    right: 380px;
    bottom: 40px;
    transition: transform 0.3s;
}

.goods2 img {
    position: absolute;
    right: 34px;
    top: 54px;
    transition: transform 0.3s;
}

.goods1 :hover {
    transform: rotate(7deg) scale(1.1);
}

.goods2 :hover {
    transform: rotate(-7deg) scale(1.1);
}


.inner_goods_banner h1 {
    font-family: 'Nulshock', sans-serif;
    text-align: left;
    font-size: 50px;
    padding-top: 248px;
}

.inner_goods_banner p {
    margin-top: 70px;
    font-size: 20px;
}



/* user_playlist */
#user_playlist {
    position: relative;
    overflow: hidden;
    height: 750px;
}

.inner_user_playlist {
    width: 1320px;
    margin: 0 auto;
    height: 750px;
    padding: 50px 0;
    box-sizing: border-box;
    background: url(../images/user_playlist_bg.png) no-repeat right top 82px;
}

.u_p_text {
    text-align: right;
    margin-top: 70px;
    margin-right: 280px;
}

.u_p_text p {
    margin-top: 72px;
    font-size: 18px;
}



/* user_playlist swiper */

#banner1 {
    position: absolute;
    bottom: 100px;
    left: 50%;
    margin-left: -960px;
    width: 1920px;
}

#banner1 .swiper {
    width: 100%;
    margin: 0 auto;
}

.mySwiper2 .swiper-wrapper {
    transition-timing-function: linear;
}



