@charset "utf-8";

/* webfont */
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select {
    padding: 0;
    margin: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    font-family: 'S-CoreDream-3Light';
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    background-color: #000;
}

#wrap {
    min-width: 1360px;
}


/* mainbanner header */
.banner_text{
    position: absolute;
    width: 1320px;
    left: 50%;
    margin-left: -660px;
    margin-top: 150px;
    top: 0;
    z-index: 2;
    text-align: right;
}
span{
    font-family: 'Nulshock', sans-serif;
}
.banner_text h1{
    margin-top: 280px;
    font-size: 80px;
}
.banner_text h3{
    margin-top: 50px;
    font-size: 24px;
}
.banner_text p{
    margin-top: 300px;
    line-height: 35px;
}


/* collabo_banner */

#collabo_banner{
    background: url(../images/sub_goods/collabo_bg.png) no-repeat center;
    height: 784px;
}
.inner_collabo{
    width: 1320px;
    margin: 0 auto;
    height: 684px;
}
.collabo_text{
    margin-top: 50px;
    float: left;
    width: 50%;
}
.collabo_text h2{
    font-size: 30px;
}
.collabo_text h1{
    margin-top: 50px;
    font-size: 60px;
    line-height: 80px;
    text-shadow: rgba(0, 0, 0, 0.3) 0px 5px 6px;
}
.collabo_text p{
    margin: 80px 0;
    font-size: 22px;
    line-height: 40px;
}
.btn li{
    float: left;
}
.btn li a{
    display: inline-block;
    border: #fff 3px solid;
    border-radius: 40px;
    padding: 20px 35px;
}
.btn li:nth-child(1){
    margin-right: 100px;
}
.btn li a:hover{
    background-color: #fff;
    color: #d44581;
    font-weight: bold;
}
.collabo_goods{
    float: right;
    width: 50%;
    position: relative;
    height: 784px;
    text-align: center;
}
.name{
    width: 90px;
}
.speacker .img_box{
    position: absolute;
    right: 0;
    top: 20px;
    z-index: 9;
}
.speacker .name{
    position: absolute;
    left: 150px;
    top: 150px;
    z-index: 8;
}
.headset .img_box{
    position: absolute;
    left: 0;
    bottom: 20px;
    z-index: 9;
}
.headset .name{
    position: absolute;
    right: 150px;
    bottom: 150px;
    z-index: 8;
}

.heart_btn a {
    display: block;
    width: 64px;
    height: 44px;
    background: url(../images/w_heart_logo.png) no-repeat center;
}
.heart_btn a:hover {
    background-image: url(../images/w_heart_logo_hover.png);
}
.collabo_goods .heart_btn{
    margin-top: 32px;
    margin-left: 8px;
}

.img_box img{
    transition: transform 0.3s;
}
.img_box img:hover {
    transform: rotate(7deg) scale(1.1);
}

/* goods */
#goods{
    width: 1320px;
    margin: 0 auto;
    padding-top: 120px;
}
.goods_section{
    height: 690px;
    margin-bottom: 130px;
}

.title{
    height: 120px;
    box-sizing: border-box;

}
.title p{
    font-size: 30px;
    padding-top: 40px;
}
.title_box{
    position: relative;
}
.living{
    width: 222px;
}
.living .bg{
    position: absolute;
    right: 0;
    top: 0;
    width: 522px;
    height: 120px;
    z-index: -1;
    background: url(../images/sub_goods/living_bg.png);
}
.acc{
    width: 320px;
    float: right;
    text-align: right;
}
.acc .bg{
    position: absolute;
    left: 0;
    top: 0;
    width: 621px;
    height: 120px;
    z-index: -1;
    background: url(../images/sub_goods/acc_bg.png);
}



.product{
    margin: 90px 0 110px;
}
.product li{
    float: left;
    width: 410px;
    margin-right: 45px;
}
.product li:nth-child(3){
    margin-right: 0px;
}
.product_name{
    margin: 20px 70px;
}
.product_name p{
    float: left;
    margin-top: 5px;
}
.product_name .heart_btn{
    float: right;
}

/* hover 확대 */
.product_img{
    overflow: hidden;
    height: 410px;
    position: relative;
}
.product li:hover .product_img img{
    transform: scale(1.1);
}
.product_img img{
    transition: transform 0.3s;
}




/* hover 테두리 */
.box{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.line1{
    width: 100%;
    height: 10px;
    background-color: #d44581;
}
.line2{
    width: 10px;
    height: 100%;
    background-color: #d44581;
}
.line3{
    width: 100%;
    height: 10px;
    background-color: #d44581;
    position: absolute;
    left: 0;
    bottom: 0;
}
.line4{
    width: 10px;
    height: 100%;
    background-color: #d44581;
    position: absolute;
    right: 0;
    top: 0;
}

.product li:hover .line{
    animation: border 0.3s linear;
}

.line{
    opacity: 0;
}
.product li:hover .line{
    opacity: 1;
}
.line{
    transition: all 0.3s;

}

/* 테두리 애니메이션 */
@keyframes border {
    0%{transform: scale(0);}
    100%{transform: scale(1);}
}


/* event */
#event{
    height: 400px;
    margin-bottom: 120px;
    background: url(../images/sub_goods/event_bg.png) no-repeat top center;
}
.event_text{
    text-align: center;
    color: #000;
}
.event_text h2{
    padding: 70px 0;
    font-size: 40px;
}
.event_text p{
    font-size: 23px;
    line-height: 35px;
}
#event .btn{
    display: inline-block;
    margin-top: 50px;
}
#event .btn  li a{
    display: block;
    color: #000;
    border: #000 2px solid;
    border-radius: 40px;
    padding: 11px 0;
    width: 160px;
}
#event .btn  li a:hover{
    background-color: #000;
    color: aquamarine;
    font-weight: bold;
}